 </div>
       <footer>
            <div id="bottom">
                <div class="container">
                    <ul id="social-icons">
                        <li><a href="http://twitter.com/steintt"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://no.linkedin.com/in/steintore"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://github.com/steintore"><i class="fa fa-github"></i></a></li>
                    </ul>
                    <div id="copyright">© COPYRIGHT 2014 @owwwlab.  ALL RIGHTS RESERVED</div>
                    <a id="home-circle" href="{{site.url}}"><i class="fa fa-home"></i></a>
                </div>
            </div>   
       </footer> 
       <script type="text/javascript" src="/assets/jquery-1.11.0.min.js"></script>
       <script type="text/javascript" src="/assets/custom.js"></script>   
    </body>
</html>