<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="/css/base.css">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    </head>
    <body>
       <header>
            <div id="site-heading">
                <h2 class="title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
                <h3 class="subtitle">{{page.subtitle}}</h3>
            </div>
            <ul id="nav">
                 <li class="{% if page.url == '/pages/about/' %}active{% endif %}"><a href="/pages/about">About</a></li>
                 <li class="{% if page.url == '/' %}active{% endif %}"><a href="/index.html">Blog</a></li>
                 <li><a href="#" id="contact-section">Contact</a></li>
            </ul>
            <div id="contact-wrapper">
                <div id="contact-content">
                    <i class="fa fa-envelope-o contact-icon"></i>
                    <ul id="contact-list">
                        <li><a href="mailto:stein.tore.tosse@gmail.com">stein.tore.tosse@gmail.com</a></li>
                    </ul>
                </div>
                <a href="#" id="contact-close"><i class="fa fa-times"></i></a>
            </div>
       </header>
       <div id="main-contents">